html, body
{
    margin: 0 !important;
    width: 100%;
    height: 100%;
    padding: 0;
}

:root
{
    --main-color:   #cb997e;
    --second-color: #ddbea9;
    --third-color:  #ffe8d6;
}

*
{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.text-main
{
    color: var(--main-color);
}

.text-second
{
    color: var(--second-color);
}

.text-third
{
    color: var(--third-color);
}

p#opentext
{
    width: 60vw;
    text-align: center;
    color:white;
    font-size: calc(0.3rem + 1.5vw);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 1vw 15px 1vw;
    border-radius: 40px;
    letter-spacing: 1.6px;
}

svg
{
    height: 70px;
    width: 70px;
}

.col-md-4 > img
{
    border-radius: 200px;
}

a
{
    text-decoration: none !important;
    color: var(--main-color) !important;
}

a:hover
{
    color:var(--second-color) !important;
}

.collapse-transition 
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

footer
{
    padding: 60px 0px 60px 0px;
    text-align: center;
}

footer > h1
{
    text-align: center;
}

footer > div#container
{
    margin: auto;
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

footer > div#container > div 
{
    display: flex;
    align-items: center;
    color:var(--second-color);
}

footer > div#container > div > img 
{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

footer > img
{
    margin: auto;
    width: 140px;
    height: 140px;
}

a > img
{
    width: 24px;
    height: 24px;
}

#myBtn 
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    color: white;
    cursor: pointer;
    padding: 25px;
    overflow: hidden;
    border-radius: 50%;
    font-weight: 500;
    z-index: 1;
    width: 80px;
    height: 80px;
    border: none;
    font-size: 1rem;
    color: #000808;
    font-weight: 500;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 36px 0px rgba(167, 126, 88, 1);
    -moz-box-shadow: 0px 0px 36px 0px rgba(167, 126, 88, 1);
    box-shadow: 0px 0px 36px 0px rgba(167, 126, 88, 1);
}
  
  #myBtn:hover {
    background-color: white;
  }
  #myBtn:active{
    transform: scale(0.95);
  }
  #myBtn::before{
    content: '';
    position: absolute;
    inset: -1px 30px;
    background: #a74900;
    transition: 500ms;
    animation: rotate 4s linear infinite;
    z-index: -1;
  }
  #myBtn:hover::before{
    inset: -1px;
  }
  #myBtn::after{
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 50%;
    background: #f7f7f7;
    z-index: -1;
  }
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}
.button {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a7480060;
    border-radius: 10rem;
    z-index: -2;
  }
  .button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #a74900;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .button:hover {
    color: #fff;
  }
  .button:hover:before {
    width: 100%;
  }
  .button2 {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
  }
  .button2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a7480060;
    border-radius: 10rem;
    z-index: -2;
  }
  .button2:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #a74900;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .button2:hover {
    color: #fff;
  }
  .button2:hover:before {
    width: 100%;
  }

 .nav-link {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-right: 10px;
    
  }
  .nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e4c7b081;
    border-radius: 10rem;
    z-index: -2;
  }
  .nav-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(165, 116, 86)81;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .nav-link:hover {
    color: #fff;
  }
  .nav-link:hover:before {
    width: 100%;
  }
#myNavbar {
    transition: transform 0.5s; /* Dodaj płynny efekt przejścia */
    position: fixed;
  }
  
#myNavbar.hidden {
    transform: translateY(-100%); /* Przesuń nawigację poza ekran w górę */
    display: none;
  }

h6
{
  color: var(--main-color) !important;
  font-weight: 900 !important;
}

.accordion-button:not(.collapsed)
{
  background-color: var(--second-color) !important;
}

.accordion-button:focus
{
  -webkit-box-shadow: inset 0px 0px 8px 0px var(--main-color) !important;
  -moz-box-shadow:    inset 0px 0px 8px 0px var(--main-color) !important;
  box-shadow:         inset 0px 0px 8px 0px var(--main-color) !important;
}

div#collapseTwo > div.accordion-body > p
{
  text-align: justify;
}

div.carousel-item > img
{
  height: 60vh;
  object-fit: cover;
}